<div class="page-menu-container">
    <a href="/account">
        <button type="button" class="page-menu-item {{#if (is activeMenu "account")}}page-menu-item-actif{{/if}}">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/assets/bootstrap-icons.svg#person-square" />
            </svg>
            {{label "I18N_MY_ACCOUNT" ""}}
        </button>
    </a>
    <a href="/guilds">
        <button type="button" class="page-menu-item {{#if (is activeMenu "guilds")}}page-menu-item-actif{{/if}}">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/assets/bootstrap-icons.svg#shield-shaded" />
            </svg>
            {{label "I18N_MY_GUILDS" ""}}
        </button>
    </a>
</div>