html {
    width: 100%;
    height: 100%;
}

head {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #212529;
    /*
    background-image: url("/assets/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    */
}

.main-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top:90px;
    padding-bottom:20px;
    background-color: #525659;
    min-height: 100%;
}

.header-container {
    max-width: 1280px;
    margin: auto;
    background-color: #343a40 !important;
    height:90px;
}

.page-menu-container {
    height: 50px;
    margin-bottom:20px;
}

.page-menu-item {
    background-color: #525659;
    color: white;
    border: none;
    padding: 0;
    width: 150px;
    height: 50px;
    float: left;
}

.page-menu-item-actif {
    background-color: #343a40;
}

.page-menu-item:focus {
    outline:0;
}