{{> header}}

{{> private_menu}}

<table class="table table-striped table-dark" style="width:90%;margin:auto;">
    <tbody>
        <tr>
            <td>ID</td>
            <td>{{session.user.id}}</td>
        </tr>
        <tr>
            <td>Hashtag</td>
            <td>{{session.user.username}}#{{session.user.discriminator}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{session.user.email}}</td>
        </tr>
    </tbody>
</table>