{{> header}}

{{#each list}}

<div class="card float-left m-1" style="width: 22rem; height:10rem;">
    <div class="card-body">
        <h5 class="card-title">{{format}}</h5>
        <p>{{description}}</p>
    </div>
</div>

{{/each}}