{{> header}}

<button type="button" class="page-menu-item">Nouveautés</button>
<button type="button" class="page-menu-item">Commandes</button>
<button type="button" class="page-menu-item">Autre</button>

<!--
<div class="card m-1">
    <div class="card-body">
        <h5 class="card-title">{{label "I18N_HOMEPAGE"}}</h5>
        <p class="card-text">
        <ul>
            <li><a href="/commands">{{label "I18N_COMMANDS_LIST"}}</a></li>
        </ul>
        </p>
    </div>
</div>
-->

<script src="/js/home.js"></script>