{{> header}}

{{> public_menu}}

<center>
    <a href="/guilds" style="width:200px;height:70px;font-size:34px;" type="button"
        class="btn btn-success mt-5">{{label "I18N_MANAGE"}}</a>
</center>