{{> header}}

<div class="card mx-auto mt-5" style="width: 18rem;">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="loginInput">Login</label>
                <input type="login" class="form-control" id="loginInput">
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>